@use './variables';

.game {
  .points{
    font-weight: bold;
  }

  h1 {
    font-size: 2.5em;
  }

  h3{
    span{
      color: variables.$secondary-color;
    }
  }

  .wordContainer{
    margin: 1.5em;
    padding: 1.5em;
    border: 20px solid variables.$secondary-color;
    display: flex;

    .letter, .blankSquare{
      font-size: 70px;
      line-height: 1.5em;
      font-weight: bold;
      width: 100px;
      height: 100px;
      text-transform: uppercase;
      color: variables.$tertiary-color;
      border: 3px solid variables.$tertiary-color;
      background-color: variables.$primary-color;
    }
  }

  .letterContainer{
    p {
      margin-bottom: 1.2em;
    }

    form {
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        height: 50px;
        width: 50px;
        font-size: 2em;
        text-align: center;
        margin-right: 1em;
      }
    }

    
  }
}